.header {
  background-color: #fff;
  box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, .1);
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  margin-top: 0;
  z-index: 2;
  border-radius: 5px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;

}

.header li a {
  font-family: 'Oleo Script', cursive;
  display: block;
  padding: 10px 20px 2px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .6s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;

  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;

}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0px;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 30px 30px 2px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    font-size: 1.3rem;

  }

  .header .menu-icon {
    display: none;

  }

  /* @media screen on (max-width:500px) {
    .header ul {
      height: 100vh;
    }
  } */


}